{% extends "admin/masterAdmin.html.twig" %}
{% block title %}Rates List{% endblock %}

{% block head %}
    
    <script>
        var currPageNo = {{pageNo}};
        var maxPages = {{maxPages}};
    </script>
    <script src="/js/admin_pagination.js"></script>
    <script>
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true, '/admin/rate/list/','/admin/rate/list/singlepage/');
        });
    </script>
    
{% endblock %}



{% block table %}
    <h2>Rate</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>carId</th>
                    <th>Daily Rate</th>
                    <th>Kilometer Rate</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                                      
            </tbody>
        </table>

        <div  style="font-size:22px" align="center"  class="pageNavigation">
            <br>
            <span id="pageNavPrev" onclick="loadPage(currPageNo-1, true, '/admin/rate/list/','/admin/rate/list/singlepage/' )">Previous</span>
            {% for no in 1 .. maxPages %}
                <span id="pageNav{{no}}" onclick="loadPage({{no}}, true, '/admin/rate/list/','/admin/rate/list/singlepage/')">{{no}}</span>
            {% endfor %}
            <span  id="pageNavNext" onclick="loadPage(currPageNo+1, true, '/admin/rate/list/','/admin/rate/list/singlepage/')">Next</span>
        </div>

    </div>

{% endblock %}