{% extends "base.html.twig" %}
{% block title %}Available Cars List
{% endblock %}
{% block greensectiontitle %}
    <h2>Book a car</h2>
{% endblock greensectiontitle %}


{% block head %}
    
    <script>
        var currPageNo = {{pageNo}};
        var maxPages = {{maxPages}};
    </script>
    <script src="/js/admin_pagination.js"></script>
    <script>
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true, '/carList/','/carList/singlepage/');
        });
    </script> 
    
{% endblock %}

{% block body %}
<div align="center">
    {% if userSession %}
    <a href="/availableCars"><input  class="btn btn-lg btn-success" style="background: #a6ca63;"  type="submit" name="booking" value="Find a car"></input></a>                                                                  
      {% else %}
      <p class = "text-white" >Please Login first</p>
      <a href="/login"><input class="btn btn-lg btn-success" style="background: #a6ca63;"  type="submit" name="booking" value="Find a car"></input></a>
      {% endif %}
</div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">

            <tbody id="tableBody">

            </tbody>
        </table>

        <div style="font-size:22px" align="center" class="pageNavigation">
            <br>
            <span id="pageNavPrev" onclick="loadPage(currPageNo-1, true, '/carList','/carList/singlepage/' )">Previous</span>
            {% for no in 1 .. maxPages %}
                <span id="pageNav{{no}}" onclick="loadPage({{no}}, true, '/carList/','/carList/singlepage/')">{{no}}</span>
            {% endfor %}
            <span  id="pageNavNext" onclick="loadPage(currPageNo+1, true, '/carList/','/carList/singlepage/')">Next</span>
        </div>

    </div>

{% endblock %}
